@model ChristmasList.Pages.Shared.AddSuggestionPartialModel

<form method="post" asp-page="Index">
    <div class="col-2">
        <input class="form-control" placeholder="Suggestion" asp-for="NewSuggestion.SuggestionText" />
        <input type="hidden" name="ParentSuggestionId" value="@Model.ParentSuggestionId" />
    </div>
    <div class="col-1">
        <button type="submit" class="btn btn-outline-primary">Add</button>
    </div>
</form>
