@model HotItemsModel
@inject ApplicationDbContext dbContext;
@{
}

<h1>Hot Items</h1>
<p>As Of @Model.RenderedOn</p>
<table>
    <thead>
    <th>Name</th>
    <th>Wanted By</th>
    </thead>
    @foreach (var hotItem in @Model.HotItems)
    {
        <tr>
            <td>@hotItem.Item.Name</td>
            <td>@hotItem.WantedBy</td>
        </tr>
    }
</table>