@page
@using ChristmasList.Pages.Shared
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="Catalog">Catalog</a>
</div>
<partial name="HotItems" model="@Model.HotItems" />"

<h1>Suggestions</h1>

@foreach (var suggestion in Model.Suggestions.Where(s => s.ParentSuggestionId == null))
{
    <partial name="DisplaySuggestionPartial" model="suggestion" />
}

<h3>Add a new top-level suggestion</h3>
<partial name="AddSuggestionPartial" model="Model.AddSuggestionModel" />